/* ***************************************************************************** */

								/* colors */
								
/* ***************************************************************************** */

$spond-blue: #0080A3;;
$text: #3f3f3f;
$spond-error: #d9534f;
$grey-text: #757575;

$spond-red: #FF5D4A;
$spond-orange: #E06C00;
$spond-gray-ultralight: #F5F5F5;
$spond-gray-light: #e3e3e3;
$spond-gray-medium: #b4b4b4;
$spond-gray-normal: #757575;
$spond-gray-dark: #595959;
$spond-gray-bold: #333333;

$spond-seperator-color:#e5e5e5;

$spond-box-border-color: rgba(0, 0, 0, 0.16);
$spond-box-bg: #fff;

$spond-background: #EFF1F2;

@mixin spond-default-dropshadow{
	box-shadow: 0px 2px 2px rgba(0,0,0,0.12);
}


/* ***************************************************************************** */

								/* font-size */
								
/* ***************************************************************************** */

$xs: 1.2rem;
$s: 1.3rem;
$n: 1.4rem;
$m: 1.6rem;
$l: 1.8rem;

/* ***************************************************************************** */

								/* shapes */
								
/* ***************************************************************************** */

$border-radius: 4px;




/* ***************************************************************************** */

								/* Layouts */
								
/* ***************************************************************************** */
$col1Width: 190px;
$col2Width: 495px;
$col3Width: 285px;