@import '../../common/styles/index';

.build-detail-wrapper {
	padding: 20px;
	background-color: $spond-background;

	.case-status-icon {
		height: 24px;
		display: absolute;
		padding: 8px 12px;
	}

	.build-detail-row {
		@include spond-card-container;
	 	vertical-align: middle;
	 	width: 180px;
	 	display: inline-block;
	 	text-align: center;
	 	margin: 5px;

	 	background-color: #e3e3e3;

	 	overflow: hidden;

	 	.build-detail-item {
	 		width: 100%;
	 		min-height: 285px;
			line-height: 285px;
    		background: white;
	 	}

	 	.build-detail-action {
	 		font-size: 12px;
	 		display: inline-block;
	 		padding: 5px 0;
	 	}
	}

	.build-detail-row:hover {
		cursor: pointer;
		border: 1px solid $spond-blue;
	}

	.build-case-title {
	  display: inline-block;
	  line-height: 40px;
	}
}