@import '../../common/styles/index';

.dashboard-wrapper {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 15px 0;

  border: 1px solid $spond-blue;

  .client-title {
    line-height: 30px;
    background: $spond-blue;
  }

  .client-title:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.border-top {
  border-top: 1px solid #F0F0F0;
}

.app-background {
  background-color: #EFF1F2;
}

.build-detail-row {

}

.build-detail-row:hover {
  cursor: pointer;
  background-color: #F1F1F1;
}

.base-col {
  display: inline-block;
  border-right: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  border-left: 1px solid #F0F0F0;
  min-height: 30px;
  line-height: 30px;
}

.build-number-col {
  @extend .base-col;
  width: 10%;
}

.build-version-col {
  @extend .base-col;
  width: 25%;
}

.build-time-col {
  @extend .base-col;

  width: 15%;
}


.build-total-case-number-col {
  @extend .base-col;

  width: 10%;
}

.build-faild-case-number-col {
  @extend .base-col;

  color: $spond-red;
  width: 10%;
}

.build-ignored-case-number-col {
  @extend .base-col;
  width: 10%;
  color: $spond-orange;
}

.build-fixed-case-number-col {
  @extend .base-col;
  width: 10%;
  color: green;
}

.build-remain-case-number-col {
  @extend .base-col;
  width: 10%;

  color: $spond-red;
}
