@import '../../common/styles/index';

.dashboard-wrapper {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 5px 0;

  border: 1px solid $spond-blue;

  .client-title {
    line-height: 50px;
    background: $spond-blue;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .client-title:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.section-margin {
  margin-bottom: 50px;
}

.border-top {
  border-top: 1px solid #F0F0F0;
}

.app-background {
  background-color: #EFF1F2;
}

.build-detail-row {

}

.build-detail-row:hover {
  cursor: pointer;
  background-color: #F1F1F1;
}

.base-col {
  display: inline-block;
  border-right: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  border-left: 1px solid #F0F0F0;
  min-height: 30px;
  line-height: 30px;
}

.client-section-title {
  @extend .base-col;
  width: 100%;
}

.build-number-col {
  @extend .base-col;
  width: 8%;
}

.build-version-col {
  @extend .base-col;
  width: 10%;
}

.build-time-col {
  @extend .base-col;

  width: 15%;
}

.number {
  font-weight: bold;
  font-size: 22px;
}

.failed-number {
    color: $spond-red;
}

.ignored-number {
    color: $spond-orange;
}

.fixed-number {
    color: green;
}

.remain-number {
    color: $spond-red;
}

.total-number {
    color: gray;
}

.build-case-number-col {
  @extend .base-col;

  width: 18%;
}

.build-faild-screenshots-number-col {
  @extend .base-col;
  width: 32%;
}


.action-col {
  @extend .base-col;
  width: 17%;

  color: $spond-red;
}
